@model LK_Celebrity_Type
@{
    ViewBag.PageTitle = "Add Celebrity Type";
}
<h1>@ViewBag.PageTitle</h1>
<h2>@ViewBag.UserMsg</h2>

<a class="nav-link text-dark" asp-area="CelebrityDeathPool" asp-controller="CelebrityType" asp-action="Index">Celebrity Types</a>


<form asp-area="CelebrityDeathPool" asp-controller="CelebrityType" asp-action="Create" method="post">

    <div>
        <label asp-for="celebrity_type"></label>
        <input type="text" asp-for="celebrity_type" />
        <span asp-validation-for="celebrity_type"></span>
    </div>

    <div>
        <input type="submit" class="btn-primary" value="Save" />
    </div>
</form>