@{
    
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AltLeague</h1>
    <p>User Name: @User.UserName()</p>
    <p>User Role: @User.UserRoleName()</p>
    
    



</div>
