@{
    
    ViewData["Title"] = "Home Page";
}

<style>

</style>

<div class="text-center">
    <h1 class="display-4">Welcome to RIVALRY</h1>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="p-3 border bg-light">
                    Football Pool
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3 border bg-light">
                    Celebrity Death Pool
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3 border bg-light">
                    Survivor Pool
                </div>
            </div>
        </div>
    </div>
    
    <br /><br />

    <p>User Name: @User.UserName()</p>
    <p>User Role: @User.UserRoleName()</p>


</div>
