@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}





<!-- ======= Main ======= -->
<main role="main" id="main">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</main><!-- End #main -->

